In [1]:
import pandas as pd
import numpy as np

In [2]:
anime = pd.read_csv('anime.csv')
rating = pd.read_csv('rating_complete.csv')

In [3]:
anime.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [4]:
anime.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [5]:
anime.drop(['Name', 'Score', 'Genres', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'], axis=1, inplace=True)

In [6]:
rating.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [7]:
rating_anime = rating.merge(anime, left_on='anime_id', right_on='MAL_ID')

In [8]:
rating_anime.drop(['MAL_ID'], axis=1, inplace=True)

In [9]:
rating_anime.drop(['anime_id'], axis=1, inplace=True)

In [10]:
average_ratings = rating_anime.groupby(by='user_id').mean('rating')
average_ratings.reset_index(inplace=True)
average_ratings.head()

   user_id    rating
0        0  7.400000
1        1  8.058252
2        2  8.333333
3        3  7.603175
4        4  7.652542

In [11]:
rating_anime.head()

   user_id  rating                                       English name
0        0       9  Fullmetal Alchemist:The Movie - Conqueror of S...
1        6       8  Fullmetal Alchemist:The Movie - Conqueror of S...
2       18      10  Fullmetal Alchemist:The Movie - Conqueror of S...
3       19       8  Fullmetal Alchemist:The Movie - Conqueror of S...
4       33       4  Fullmetal Alchemist:The Movie - Conqueror of S...

In [12]:
animes_name = rating_anime['English name'].unique()

In [13]:
# rating_anime.drop_duplicates(subset=['user_id'], inplace=True)

In [14]:
rating_anime = rating_anime.pivot(index='user_id', columns='English name', values='rating')

In [15]:
rating_anime.head()

English name,.hack//G.U. Trilogy,.hack//Legend Of The Twilight,.hack//Sign,.hack//roots,07-Ghost,11eyes,3x3 Eyes,5 Centimeters Per Second,91 Days,A Bridge to the Starry Skies,...,ef - a tale of melodies.,ef - a tale of memories.,the Garden of sinners Chapter 1:Overlooking View,the Garden of sinners Chapter 2:Murder Speculation Part A,the Garden of sinners Chapter 3:Remaining Sense of Pain,the Garden of sinners Chapter 5:Paradox Paradigm,the Garden of sinners Chapter 6:Oblivion Recording,the Garden of sinners Chapter 7:Murder Speculation Part B,tsuritama,xxxHOLiC
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
for user_id, avg_rating in average_ratings.itertuples(index=False):
    rating_anime.loc[user_id, :] -= avg_rating

In [17]:
rating_anime.fillna(0, inplace=True)

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

def similar_movies_func(df=rating_anime, user_anime="Death Note", animes_name=animes_name):
    
    main_df = pd.DataFrame(columns=['movie1', 'movie2', 'sim_score'])
    
    for anime_ in animes_name:
        if anime_ == user_anime:
            continue
        sim = cosine_similarity([df[user_anime]], [df[anime_]])
        new_row = pd.DataFrame({'movie1': [user_anime], 'movie2': [anime_], 'sim_score': [sim]})
        main_df = pd.concat([main_df, new_row], ignore_index=True)


    return main_df

In [19]:
user_anime = input("Enter the movie name: ")
similar_animes = similar_movies_func(rating_anime, user_anime, animes_name)

KeyError: 'Saekano:How to Raise a Boring Girlfriend .flat'

In [ ]:
similar_animes.sort_values(by='sim_score', ascending=False, inplace=True)